extends _main.pug

block content
  style.
    @keyframes slideDown {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }
      to {
        opacity: 1;
        transform: translateY(0)
      }
    }

    #title {
      animation: slideDown 500ms both;
      width: 310;
      height: 100;
      display: block;
      position: relative;
      margin-bottom: 20px;
    }

    #title img {
      display: block;
      height: auto;
      width: auto;
      max-width: 100%;
    }
    #goal {
      animation: slideDown 500ms both;
      animation-delay: .2s;
    }
    #git {
      animation: slideDown 500ms both;
      animation-delay: .4s;
    }
    

  section.hero.fullheight
    .hero-body
      .container
        figure#title: img(src="assets/logo-wide.svg")
        p#goal The goal of Nobu is to create a smooth and calm interface to look at. It doesn't confuse you, yet it is unique. 
        hr#goal
        p#git This project is open-source and you can fork it on #[a(href="https://github.com/LU-8/nobu") Github]!

  section
    .container
      h2 Colors
      p 6 base colors.
        
      hr
      .grid
        .grid-item: .card.bg-dark: .card-header
          h3 Dark
          p #202225
        .grid-item: .card.bg-primary: .card-header
          h3 Primary
          p #2C2F33
        .grid-item: .card.bg-light: .card-header
          h3 Light
          p #383C41
      .grid
        .grid-item: .card.bg-grey.c-dark: .card-header
          h3 Grey
          p #99AAB5
        .grid-item: .card.bg-white.c-dark: .card-header
          h3 White
          p #FFF
        .grid-item: .card.bg-secondary: .card-header
          h3 Secondary
          p #8F72DA

  section
    .container
      h2 Grid
      p Nobu has a simple grid system with flex. Since im not expecting to do anything complicated with this, i will keep it as is.
      pre: code(class='html')
        :escape-html
          <div class="grid">
            <div class="grid-item"></div>
          </div class="grid">
      hr
      .grid
        .grid-item: .card: .card-header: h3 Item 1
        .grid-item: .card: .card-header: h3 Item 2
        .grid-item.grid-half: .card: .card-header: h3 Item 3

  section
    .container
      h2 Hero
      p The banner to any page, put some content in it, introduce your visitors.
      pre: code(class="html")
        :escape-html
          <section class="hero">
            <div class="hero-body">
              <h1>Hero<h1>
            </div>
          </section>

          <section class="hero small"></section>
          <section class="hero medium"></section>
          <section class="hero big"></section>
          <section class="hero halfheight"></section>
          <section class="hero fullheight"></section>
      hr
  section.hero.bg-secondary
    .hero-body
      .container
        h1 Hero
        h1.subtitle Normal
  section.hero.small
    .hero-body
      .container
        h1 Hero
        h1.subtitle Small
  section.hero.medium.bg-secondary
    .hero-body
      .container
        h1 Hero
        h1.subtitle Medium
  section.hero.large
    .hero-body
      .container
        h1 Hero
        h1.subtitle Large
  section.hero.halfheight.bg-secondary
    .hero-body
      .container
        h1 Hero
        h1.subtitle Halfheight
  section.hero.fullheight
    .hero-body
      .container
        h1 Hero
        h1.subtitle Fullheight

  section
    .container
      h2 Headings
      p Titles and subtitles, all stories start with a title, so its important that its eye-catching.
      pre: code(class="html")
        :escape-html
          <h1>Title</h1>
          <h1 class="subtitle">Subtitle</h1>
      hr
      h1 title
      h1.subtitle subtitle
      h2 title
      h2.subtitle subtitle
      h3 title
      h3.subtitle subtitle
      h4 title
      h4.subtitle subtitle
      h5 title
      h5.subtitle subtitle
      h6 title
      h6.subtitle subtitle

  section
    .container
      h2 Breadcrumbs
      p A user might get lost, a trail of breadcrumbs will show the user their way back.
      pre: code(class="html")
        :escape-html
          <ul class="breadcrumb">
            <li><a href='#'>Nobu</a></li>
            <li><a href='#'>Examples</a></li>
            <li><a href='#'>Components</a></li>
            <li><a>Breadcrumb</a></li>
          </ul>
      hr
      ul.breadcrumb
        li: a(href='#') Nobu
        li: a(href='#') Examples
        li: a(href='#') Components
        li: a Breadcrumb

  section
    .container
      h2 Cards & Card layout
      p Cards are a great way to show information in its own little confined space.
      pre: code(class="html")
        :escape-html
          <div class="card">
            <img src="">
            <div class="card-header">
              <h1>Title</h1>
              <h1 class="subtitle">Subtitle</h1>
            </div>
            <div class="card-content">
              <p>Some content here</p>
            </div>
          </div>
      p.
        A #[code .card-layout] will create a grid container with a few columns to combine cards. Together with surrounding your cards with #[code .outer-card] to fix the height. 
      pre: code(class='html')
        :escape-html
          <div class="card-layout">
            <div class="outer-card">
              <div class="card">...</div>
            </div>
            <div class="outer-card">
              <div class="card">...</div>
            </div>
            <div class="outer-card">
              <div class="card">...</div>
            </div>
          </div>
      hr
      .card-layout
        .outer-card: .card
          //img(src="" alt="")
          .card-header
            h1 Title
            h1.subtitle Subtitle
          .card-content
            :marked
              Yeah some content *goes over here* hm yeah thats pretty good, personally i love card theyre useful for so many things in any application that you build.
        .outer-card: .card.bg-secondary
          //img(src="" alt="")
          .card-header
            h1 Title
          .card-content
            p Yeah some more content
        .outer-card: .card
            .card-header
              h1 Title
              h1.subtitle Subtitle
            //img(src="" alt="")
        .outer-card: .card.bg-secondary
          .card-content
            p Bleb
        .outer-card: .card
          //img(src="" alt="")
        .outer-card: .card.bg-secondary
          .card-header
            h1 More cards!!!
          .card-content
            p Card addiction
  section
    .container
      h2 Box & Box layout
      p Boxes are an extension to cards.
      pre: code(class="html")
        :escape-html
          <div class="box">
            ...
          </div>
      hr
      .box-layout
        .outer-box: .box
          //img(src="" alt="")
          .box-content
            code handy for some code maybe?
        .outer-box: .box
          .box-header
            h3 Something else?
        .outer-box: .box
          //img(src="" alt="")
          .box-header
            h3 The sky is the limit.
          .box-content
            p Maybe not, you get the point.

  section
    .container
      h2 Forms
      p Get some of that user input!
      hr
      .grid
        .grid-item
          h3 Text input
          .group
            label Label
            input(type='text' placeholder='Text input')
          .group
            label Label
            input(disabled type='text' placeholder='Text input')
            p.message Disabled
          .group
            label Label
            input.info(type='text' placeholder='Text input')
            p.message Info message
          .group
            label Label
            input.success(type='text' placeholder='Text input')
            p.message Success message
          .group
            label Label
            input.warning(type='text' placeholder='Text input')
            p.message Warning message
          .group
            label Label
            input.error(type='text' placeholder='Text input')
            p.message Error message
        
        .grid-item
          h3 Text area
          .group
            label Label
            textarea
            p.message Message?
          .group
            label Label
            textarea(disabled)
            p.message Nope

        .grid-item